language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - 7.0
  - nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: 7.0
    - php: nightly

before_script:
  - composer self-update
  - composer install

sudo: false

cache:
 - composer
 